<app-header-tab titulo="Página 4"></app-header-tab>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Adivina un número del 1 al 100</ion-label>
      <ion-button (click)="onClick()" shape="round" fill="solid">COMPROBAR</ion-button>
    </ion-list-header>
    <ion-item>
      <ion-input label="Numero: " type="number" placeholder="Introduce un numero" [(ngModel)]="numPropuesto"/>
    </ion-item>
    <ion-item>Numero de intentos: {{contador}}</ion-item>
    <ion-item>
      <ion-label>{{mensaje}}</ion-label>
    </ion-item>
    <ion-button (click)="jugarOtravez()" shape="round" fill="solid">Quieres volver a jugar</ion-button>
  </ion-list>
</ion-content>
